body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  padding: 15px 0 0 15px;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 15px;
}

form {
  text-align: center;
}
input {
  border-radius: 4px;
}
ul {
  margin: 0 0 0 -20px;
}

.link {
  text-align: center;
  font-size: 14px;
}
.project {
  background: linear-gradient(
    181.2deg,
    rgb(108, 228, 250) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  width: 700px;
  height: 500px;
  border: 2px solid rgb(72, 164, 197);
  margin: 20px auto;
  border-radius: 15px;
}

.search-form {
  margin-bottom: 20px;
  height: 44px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  margin: 0 auto;
}

.form-control {
  height: 44px !important;
  display: flex;
  background: #fff;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  margin-left: 15px;
}
.btn {
  height: 44px;
  background: #fff;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.now {
  padding: 10px 50px;
  margin: 10px;
  border-radius: 4px;
}
.temperature {
  font-size: 55px;
}

.change {
  font-size: 20px;
  color: gray;
}

.weather {
  text-transform: capitalize;
  text-align: center;
}
.active {
  color: black;
  font-size: 30px;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

.days {
  margin: 0px 0 0 10px;
}
.col {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}
